<tr>
  <td><%= link_to menu.id, menus_path(menu) %></td>
  <td><%= menu.name %></td>
  <td><%= menu.sponsor %></td>
  <td><%= menu.event %></td>
  <td><%= menu.venue %></td>
  <td><%= menu.place %></td>
  <td><%= menu.physical_description %></td>
  <td><%= menu.occasion %></td>
  <td><%= menu.notes %></td>
  <td><%= menu.call_number %></td>
  <td><%= menu.keywords %></td>
  <td><%= menu.language %></td>
  <td><%= menu.date %></td>
  <td><%= menu.location %></td>
  <td><%= menu.location_type %></td>
  <td><%= menu.currency %></td>
  <td><%= menu.currency_symbol %></td>
  <td><%= menu.status %></td>
  <td><%=l menu.created_at %></td>
</tr>
