<p>
  Here you can export data to JSON format.<br />
</p>
<br />

<%= form_tag "/send_export", :method => "get",'data-type' => 'json' do %>
  <div class="form-group">
    <%= label_tag :places, "Place", :class => 'control-label col-lg-2' %> 
    <div class="col-lg-10">
      <%= select "export_params", "place", @places, {:prompt => 'Select'}, :style => "width:300px" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= label_tag :timespan_from, "Time from", :class => 'control-label col-lg-2' %> 
    <div class="col-lg-10">
      <%= date_select "export_params", "timespan_from", start_year: 1800, :style => "width:300px" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :timespan_to, "Time to", :class => 'control-label col-lg-2' %> 
    <div class="col-lg-10">
      <%= date_select "export_params", "timespan_to", start_year: 1800, :style => "width:300px" %>
    </div>
  </div>

  <%= hidden_field_tag :format, :json %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= button_tag "Download JSON", :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
